<!DOCTYPE html>
<html>
<head>
<style>

body{
margin:0px;
padding:0px;
text-align: justify;
padding: 20px;
}

p.bold {
    font-weight: 600;
	
}
.ul-alpha {
  list-style-type: lower-alpha;
}
span.text-bold {
    font-weight: 600;
}
p.right {
    text-align: right;
}
li {
    margin-bottom: 8px;
}
</style>
</head>
<body>

<div class="content">
<p class="right">November _________, 2021  </p>
  
<p class="left">  
To,</br>

Customer Name </br>
r/o _________</br>
_______________,</br>
_____________</br>
Pin Code: 

</p> 

 <p class="bold">
 Sub: Notice for Recovery  of Loan Amount of Rs. ______________/- (in words Rupees Only) due under Customer Loan Agreement dated <date> entered between you the Noticee and Gyandhan Financial Services Private Limited.
 </p>
<p>
Dear Sir,
</p>
<p>
The following notice is served to you by Apollo Finvest (India) Ltd., having its registered address office at Unit No. 803, Blue Moon, 8th Floor, Veera Industrial Estate, New Link Road, Opp. Laxmi Industrial Est, Mumbai, Maharashtra – 400053 (hereinafter referred to as “Our Company”)  for the cause stated herein as under:
</p>
<ol>
<li>That you the Noticee approached our Company for grant of a Loan Amount of Rs. ______________/- (in words Rupees Only) vide Loan Application dated _______________ for financing your education through Training Institute namely Name of the Training Institute.</li>
<li>That in the pursuance of your Loan Application, our Company issued a Sanction Letter to you the Noticee on ________________ and a Customer Loan Agreement was executed between you the Noticee and our Company on __________. </li>
<li>That as per the said Customer Loan Agreement, our Company disbursed the loan amount of Rs. __________/- (In words only) was made into the account of Name of the Training Institute on date of issuance of Loan.</li>
<li>That as per Clause 3 of the said agreement, the Borrower shall be deemed to have committed an act of default if the Borrower does not comply with his/her obligations as mentioned in this Agreement and also on the happening of one or more of the following events (each an "Event of Default"):</li>
<ul class="ul-alpha">
<li>The Borrower fails to pay any EMI Amount or the Outstanding Dues under this Agreement on or before the Due Date”</li>
</ul>
</li>
<li>That in the light of above stated provision you the Noticee have committed an event of default under Clause 3 of the said agreement by not paying the outstanding amount of Loan of Rs. ______________/- (in words Rupees Only) due on date.</li>
<li>Further as per Clause 3 of the agreement, any Event of Default shall be considered a material breach of this Agreement and upon the occurrence of the Event of Default and at any time thereafter, if any such event shall be continuing, the Lender may, in its sole discretion and upon written notification:</li>
<ul class="ul-alpha">
<li>accelerate the repayment of the Loan including the Outstanding Dues;</li>
<li>accelerate the repayment of the Loan including the Outstanding Dues;</li>
<li>place the Loan on demand or declare all the Outstanding Dues payable by the Borrower in respect of the Loan to be due and payable immediately;</li>
<li>c. recover the charges for dishonour of the Repayment Modes, Penal Interest and any other penal charges from the Borrower as mentioned in Schedule II;</li>
<li>terminate this Agreement;</li>
<li>exercise such other rights and remedies as may be available to the Lender under Applicable Law during the pendency of the Loan including without limitation under Section 138 of the Negotiable Instruments Act, 1881 and under Section 25 (1) of Payment of Settlement System Act, 2007; and/or stipulate such other condition(s) or take such other action(s) as the Lender deems fit.</li>
</ul>

<li>Accordingly, you are called upon to make the payment of aforesaid outstanding dues of Rs. ____________________(in words Rupees Only) along with interest @ 2% monthly, from the date the amounts were due till the date of payment, within 5 days from the date of receipt of this notice.</li>
<li>In the event of your failure to pay the aforesaid outstanding dues in the time stipulated herein, our Company shall be constrained to initiate appropriate legal proceedings against you, including both civil and criminal proceedings under section 384, 405, 409, 418, 420 of the Indian Penal Code, 1860, without making any further representation and/or correspondence, entirely at your risk as to all the costs and consequences thereof. Also note that our Company shall also press for exemplary monetary damages in such legal proceedings, which will be entirely at your cost and peril. The instant notice issues without prejudice to the rights of our Company to initiate appropriate action as per law against you.</li>
<p>Copy retained for further action, if necessary.</p>
</ol>
<p><span class="text-bold"> Note: Senbonzakura Consultancy Pvt Ltd.</span> (GyanDhan) is representing Apollo Finvest (India) Ltd. as a collection agent</p>

</div>


</body>
</html>