<!DOCTYPE html>
<html>
<head>
<style>

body{
  margin:0px;
  padding:0px;
  text-align: justify;
  /* font-family:roboto; */
  padding: 20px;
}
p.bold {
  font-weight: 600;
  text-align: center;
	
}
p.text-bold{
font-weight: 600;
}

.ul-alpha {
  list-style-type: lower-alpha;
}
span.text-bold {
    font-weight: 600;
	
}
table {
  border-collapse: collapse;
}
td {
  border:1px solid black;
  padding:2px;
  
}
p.right {
    text-align: right;
}
li {
    margin-bottom: 8px;
}
.text-right {
  text-align: right;
}
</style>
</head>
<body>

<div class="content">


 <p class="bold">
 Notice
  </p>
 <p>To,</p> 
 <p class="right"><b>Date: ...............</b></p>
<table style="width:100%">
  
  <tr>
    <td class="text-right">1.</td>
    <td>Name and Address of Borrower</td>
    <td>Borrower</td>
  
  </tr>
<tr>
    <td class="text-right">2.</td>
    <td>Name and Address of Borrower</td>
    <td>Co-Borrower</td>
  
  </tr>
</table>  
  
<p>(To be referred to as <b>Borrower(s)).</b></p> 
<p><b>Subject:-</b> Notice of Event of Default cum Loan Recall in loan account No. _________________ of ________________________ <b>(Borrower(s)) (“Loan Account”).</b></p>  
<p>Dear Sir/Ma’am,</p> 
<p><b>In reference to the captioned subject, we, Avanse Financial Services Limited, including its successor and/or assignee (“the Lender”) hereby state as follows:-</b></p>  
  
<ol>
<li>That in terms of the loan agreement dated ___________________ (“the Agreement”) entered between you, the Borrower(s) and the Lender in the captioned Loan Account, the Lender had granted to you, the Borrower(s) a ___________________ loan of Rs.____________________/- (Rupees ________________________________________) (“Loan”), for the purpose, and on the terms & conditions, more specifically described in the Agreement.</li>
<li>In terms of the Agreement, the Loan shall be repaid in ________ monthly installments, commencing from ____________________ and thereby ending on _____________________ (“Loan Tenure”). </li>
<li>However, you, the Borrower(s) are in material breach of the sanction conditions and has/have delayed/failed to pay and/or were irregular in paying the installments from the month of _________________ onwards in captioned Loan Account, causing breach of the terms of the Agreement, while timely payment was the essence of contract. </li>
<li>We wish to inform you, that repetitive default in honoring your payment obligations on time will have negative impact on your credit score. As such, information regarding payment delays or defaults is reported to credit bureaus, which can adversely affect your credit profile and consequently your credit worthiness.</li>
<li>We wish to bring to your kind notice, that due to irregularities in repaying your installments in accordance with the agreed repayment schedule, the Loan Account is showing an outstanding overdue amount of Rs____________/- (Rupees _______________________________ Only) including default charges/penal interest in accordance to the terms of the Agreement due as on ______________________   (“Overdue Amount”)</li>
<li>That you, the Borrower(s) has/have not observed the commitments with other terms, clauses governing the Agreements and have intentionally failed and neglected to pay the instalments despite repeated reminders and/or demands made by the Lender, thus continuously violating/breaching the terms of the Agreement in respect of adherence and timely repayment of the Loan instalments.</li>
<li>In view of the above circumstances, due to continuous breaches of sanction terms and committing event of default by you, the Borrower(s), we the Lender hereby forthwith terminate the Agreement entered with you, and hereby recall the entire Loan granted to you pursuant to the Agreement.  </li>
<li>In the foregoing, you, the Borrower(s) is/are hereby called upon to repay the entire outstanding Loan amounting to Rs. ______________________ (Rupees _____________________________) due as on ________________ including default charges/penalties in accordance to the terms of the Agreement (“Outstanding Amount”) within 5 days from the date of this notice. Failing and neglecting to pay the aforesaid Outstanding Amount within the prescribed time, will lead to accrual of further charges/penalty @2% per month, from the due date of the Outstanding Amount till the date of actual realization of payment thereof.</li>
<li>In case, you intend to regularize your Loan Account by making the payment towards the outstanding Overdue Amount stated above, you can do so by clearing the entire Overdue Amount within 03 days from the date of this notice, failing which the termination of Agreement along with recall of entire loan as stated above shall get effective and be binding upon you, the Borrower(s) without any further notice/reference to you.</li>
<li>10. Failing to comply with the provisions of this notice, shall compel us to initiate appropriate legal proceedings against you, the Borrower(s), before the appropriate courts and/or tribunal under the provision of the applicable Law as it deems necessary entirely at your costs and consequences thereof.</li>
<li><b>This Notice is issued without prejudice</b> to the rights and remedies that may be available with the Lender under the applicable provisions of law and contract.</li>

</ol>

<p><b>For Avanse Financial Services Limited </br>
(including its successor and/or assignee),</b></p>



<p><b>___________________________</br>
Authorized Signatory</b></p>



</div>


</body>
</html>